
#LT Spice
*.log
*.raw

### Atmel Studio ###

.vs/

[Dd]ebug/
[Rr]elease/

*.o
*.d
*.elf
*.hex
*.map
*.sr

*.atsln
*.cproj
*.componentinfo.xml

### Altium Designer ###
History/
__Previews/
*.PrjPcbStructure

hardware/pcb/meltdown_hardware/Project Logs for pcb_heater/
hardware/pcb/meltdown_hardware/Project Logs for mobile_unit_controller/